In [1]:
import numpy as np
import pandas as pd
import scipy.stats as stats

In [2]:
data=pd.read_csv('dataset w7.csv')

In [3]:
data

    Gender Test preparation  Total Marks
0     male             none           14
1   female             none           28
2   female             none           18
3   female             none           48
4   female             none           21
5   female        completed           40
6     male             none           30
7   female             none           12
8     male             none           18
9     male             none           24
10    male        completed           44
11    male             none           23
12    male        completed           43
13    male             none           28
14  female             none           41
15  female             none           13
16  female        completed           48
17  female             none           45
18    male             none           47
19    male             none           36
20    male             none           14
21    male        completed           44
22  female             none           41
23  female             none           27
24  female             none           27
25  female             none           38
26  female        completed           50
27  female        completed           43

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28 entries, 0 to 27
Data columns (total 3 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Gender            28 non-null     object
 1   Test preparation  28 non-null     object
 2   Total Marks       28 non-null     int64
dtypes: int64(1), object(2)
memory usage: 800.0+ bytes

# 1. Carry out descriptive analytics on the dataset.

In [5]:
data.describe()

       Total Marks
count    28.000000
mean     32.321429
std      12.454520
min      12.000000
25%      22.500000
50%      33.000000
75%      43.250000
max      50.000000

# 2. Check whether female and male students scored the same marks.

In [6]:
data_male=data.loc[data['Gender']=='male']
data_female=data.loc[data['Gender']=='female']

Null Hypothesis : Marks scored by male and female students are NOT same.

Alternative Hypothesis : Marks scored by male and female students are same.

In [7]:
#degrees of freedom:
df = (len(data_male)-1)+(len(data_female)-1)
df

26

Level of significance = 5% = 0.05

In [8]:
# T critical value
t_critical = stats.t.ppf(q=1-0.05/2, df =df)
t_critical

2.055529438642871

In [9]:
# test statistics
ttest,p_value = stats.ttest_ind(data_male['Total Marks'], data_female['Total Marks'])
ttest,p_value

(-0.6940885268848668, 0.4937822317960763)

In [10]:
if (abs(ttest)>t_critical)&(p_value<0.05):
    print('Rejecting null hypothesis')
else:
    print('Accepting null hypothesis')

Accepting null hypothesis

Inference : This shows that the marks scored by male and female are NOT same

# 3. Whether test preparation helps the students?

In [11]:
data_tp=data.loc[data['Test preparation']=='completed']
data_ntp=data.loc[data['Test preparation']=='none']

Null Hypothesis: Test preparation does not help students.

Alternative Hypothesis : Test preparation help students.

In [12]:
#degrees of freedom:
df = (len(data_tp)-1)+(len(data_ntp)-1)
df

26

In [13]:
# T critical value
t_critical = stats.t.ppf(q=1-0.05/2, df=df)
t_critical

2.055529438642871

In [14]:
# test statistics
ttest1,p_value1 = stats.ttest_ind(data_tp['Total Marks'], data_ntp['Total Marks'])
ttest1,p_value1

(3.6143637527769217, 0.0012671292457320106)

In [15]:
if (abs(ttest1)>t_critical)&(p_value1<0.05):
    print('Rejecting null hypothesis')
else:
    print('Accepting null hypothesis')

Rejecting null hypothesis

Inference : Test preparation help students